<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
  <%- include('partials/navbar') %>

    <div class="container">
        <h1>경엽's Home Page... <%= 'hello world'.toUpperCase()%></h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat culpa necessitatibus dolorem eveniet placeat quibusdam odio sed quas nesciunt quae cumque harum, maxime, aliquam pariatur quo praesentium ad, molestias aut!</p>
        <%- include('partials/footer') %>
        <h2><a href="/bond">채권 찾아보기</a></h2>


    
      <%- include('partials/footer') %>

    </div>

</body>
</html>